body {
  background: url("../images/pizza.jpg");
  /* background: firebrick; */
  /* font-family: "Roboto", sans-serif; */
  font-family: "Waiting for the Sunrise", cursive;
  color: black;
  background-repeat: repeat;
  background-size: 100%;
  margin-top: 30px;
  padding-top: 50px;
  max-width: 500px;
  float: right;
  margin: 10px 200px 10px 30px;
}

.fun-label {
  font-size: 50px;
  color: black;
  font-style: italic;
  font-weight: bold;
  -webkit-animation: movingtitle 10s alternate-reverse;
  animation: movingtitle 10s infinite alternate linear;
}
@-webkit-keyframes movingtitle {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 500px;
  }
}
@keyframes movingtitle {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 500px;
  }
}

.filter-input {
  padding: 6px 10px;
  background-color: #c0c0c0;
  font-size: 20px;
  text-align: center;
  margin-right: 20px;
}

.sort-button {
  background-color: crimson;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 9px #999;
}
.sort-button:hover {
  background-color: darkkhaki;
}
.sort-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.pizza-list {
  font-size: 35px;
  font-weight: bold;
}

.pizza-list-item {
  margin: 0 0 15px 0;
}

.loading-class {
  background: url("../images/loadingpizza.jpg");
}
